.accordion {
  display: flex;
  flex-flow: column;
  margin: 0.5rem auto;
  width: 50rem;
}
.content_box {
  background: var(--color-dark--0);
  border-radius: 0 0 10px 10px;
}

.content_box_item {
  display: flex;
  gap: 2rem;
  padding-left: 4rem;
  color: var(--color-light--3);
}

.content_box_item li {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50rem;
  height: 8rem;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--color-dark--2);
}

.title > h3 {
  width: 15rem;
}
.Verano {
  border-left: 5px solid #fce405;
}
.Otono {
  border-left: 5px solid #fc7c05;
}
.Primavera {
  border-left: 5px solid #48f844;
}
.Invierno {
  border-left: 5px solid #0b99ff;
}

.title > img {
  width: 10%;
}

.title > h3,
.title > span {
  font-size: 3.2rem;
  color: var(--color-light--3);
}

.icon {
  display: inline-block;
}
