.modalOverlay {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(36, 42, 46, 70%);
}

/*VENTANA MODAL COUNTRY*/
.modal {
  background: var(--color-modal--0);
  display: flex;
  flex-flow: column;
  padding: 2rem;
  border-radius: 0.8rem;
  width: 50rem;

  position: relative;
  overflow-y: auto;
}
.closeButton {
  position: absolute;
  top: 40rem;
  left: 70rem;
}
.closeButton__info {
  position: absolute;
  top: 29.5rem;
  right: 28.6rem;
  width: 35px;
  height: 30px;
  border-radius: 10px;
  color: var(--color-light--3);
  background: transparent;
  border-color: var(--color-brand--1);
  cursor: pointer;

  z-index: 500;

  box-shadow: 0 0 10px 0 rgba(237, 235, 235, 0.223);
  transition: all 0.3s;
}

.closeButton > button {
  background: #2c3e50;
  color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  border: none;
  border-radius: 50%;
  font-size: 1.6rem;
  cursor: pointer;
  line-height: 1rem;
  text-align: center;
}

.country_list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.countryListItem {
  padding-bottom: 5rem;
  width: 10rem;
  font-size: 1rem;
  color: orange;
  font-style: normal;
  font-weight: 100;
  text-align: center;
}
.searchCountry {
  width: 100%;
}
/* VENTANA MODAL PARA INFORMACION GRAL DE UN PAIS*/
.modal_gral_info {
  background: var(--color-modal--0);
  display: flex;
  flex-flow: column;
  justify-content: center;

  gap: 0.5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 8px;
  max-width: 40vw;
  max-height: 50vw;
  width: 30vw;
  height: 40vh;
  padding: 20px;
  z-index: 200;
}

.modal_gral_info > p {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-light--3);
}

.modal_gral_info > p > span {
  font-style: normal;
  font-weight: 300;
  color: #fff;
}
.stats {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.stats p {
  font-size: 2.8rem;
  color: var(--color-brand--2);
  font-weight: 600;
  text-align: center;
}

.stats_data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.stats_data > span,
.stats_img__area {
  font-size: 2.4rem;
}
.stats_img__group {
  font-size: 3rem;
  color: var(--color-light--1);
}

.stats_img__area {
  color: var(--color-light--1);
}
