.band {
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 3.5rem;
  align-items: center;
  background: var(--color-dark--0);
}

.band > h1 {
  font-size: 3.6rem;
  font-weight: bolder;
}

.options {
  display: flex;
}

.order,
.filter,
.crud {
  display: flex;
  gap: 2rem;
}
