.container__Acttable {
  display: flex;
  flex-flow: column;
  background: var(--color-modal--0);
  position: relative;
  margin: 5rem auto;
  width: 70rem;
  color: var(--color-light--2);
  border-radius: 1.5rem;
}

.table {
  margin: 2rem auto;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1.4rem;
  border: 1px solid var(--color-dark--0);
  border-radius: 1.5rem; /* aplica el borde redondeado */
  overflow: hidden;
}

.table th tr {
  width: 25%;
}

.table thead th {
  background: var(--color-dark--2);
  color: var(--color-brand--1);
}
.table tbody tr:nth-child(odd) {
  background: var(--color-light--2);
  color: var(--color-dark--1);
}
.table tbody tr:nth-child(even) {
  background: var(--color-light--3);
  color: var(--color-dark--1);
}

.table th,
.table td {
  padding: 1.6rem;
  text-align: left;
}

.container__title {
  font-size: 2.42rem;
  text-align: center;
  padding-top: 3rem;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.actions button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.icon_mobile {
  color: var(--color-dark--1);
}

.pag {
  display: flex;
  justify-content: center;
}

.container__btn__close {
  position: absolute;
  right: 0;
  width: 35px;
  height: 30px;
  border-radius: 10px;
  color: var(--color-light--3);
  background: transparent;
  border-color: var(--color-brand--1);
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(237, 235, 235, 0.223);
  transition: all 0.3s;
}
