.modalOverlay {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0rem;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(36, 42, 46, 70%);
}

.filter_box {
  background: var(--color-modal--0);
  display: flex;
  flex-flow: column;
  position: relative;
  left: 100.8rem;
  width: 30vw;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}
.nav_menu {
  background: var(--color-modal--0);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 80%;
  width: 20vw;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
  list-style: none;
  gap: 2rem;
}

.nav_menu a:link,
.nav_menu a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

.closeButton {
  position: absolute;
  top: 50%;
  left: 50%;
}

.closeButton > button {
  background: var(--color-modal--1);
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
  cursor: pointer;
  transition: all 1s;
}

.closeButton > button:hover {
  transform: scale(1.1);
}

.filter_box__title {
  text-align: left;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 800;
}
.filter_footer {
  display: flex;
  justify-content: space-around;
  background: var(--color-dark--2);
  width: 30vw;
  height: 10rem;
  position: relative;
  left: 100.8rem;
}

.footer_btn {
  width: 16rem;
  height: 4.6rem;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.footer_btn__sec {
  background: transparent;
  border-color: var(--color-brand--1);
  color: var(--color-brand--1);
}
.footer_btn__main {
  background: var(--color-brand--2);
  border-color: var(--color-brand--2);
  color: #fff;
}

.btnMenu {
  border: none;
  background: transparent;
  width: auto;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 6.5rem;
  z-index: 100;
}

.btnMenu > img {
  width: 4rem;
}
