.gridContainer {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: 50rem 1fr;
  position: relative;
  justify-content: center;
}

.sidebar {
  flex-basis: 56rem;
  padding: 3rem;
  background-color: var(--color-dark--1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.actCountries {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-image: url("../assets/bg-page.png");
  background-size: cover;
  background-position: center;
  color: var(--color-dark--1);
  position: relative;
  height: 100vh;
}
.actCountries header {
  height: 10rem;
  margin-bottom: auto;
}

.actCountries h2 {
  color: var(--color-dark--1);
  font-size: 6.2rem;
  text-align: center;
  text-transform: uppercase;
}

.actCountries p {
  padding: 5rem;
  font-size: 2.4rem;
}

.btnMenu {
  border: none;
  background: transparent;
  width: auto;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 5rem;
}

.btnMenu > img {
  width: 4rem;
}

.accordionSection > h3 {
  font-size: 2.8rem;
  color: var(--color-dark--0);
  padding: 0 0 4rem 5rem;
}

.accordionSection {
  margin-bottom: auto;
}
